body{
  margin: 0px;
}
.nav-bar{
    margin-left: -8px;
    margin-right: 0px;
    text-decoration: none;
    height: 10px;
    color: #E5A140;
}

.container{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    column-gap: 49px;
    padding-left: 262px;
    
    height: 40px;
    background-color: #4267B2;
    color: #fff;

}

.container a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-top: 6px;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    
}


.container a:hover{
    box-sizing: border-box;
    text-align: center;
    background-color: #50350e;
    border: 0px solid #50350e;
}

.ashok{
    padding-left: 250px;
    width: 968px;
    height: 86px;
}

* {box-sizing:border-box}

/* Slideshow container */
.crousel{
    margin-top: 30px;
    margin-left: 0px;
    
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;

  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

.heading{
    text-align: center;
    text-decoration: none;
}

.md{text-decoration: none;
    align-content: center;
    background-color: #4267B2;
    color: #fff;
    border: 0px solid #4267B2;
    font-size: 16px;
    height: 40px;
    width: 122px;
    

}

.md:hover{
    background-color:#063180;
    pointer-events: fill;
}


.menu-bar ul {
  margin-top: 6px;

  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
padding-bottom: 10px;
  /* text-align: center; */
  
  position: relative;
}

/* .menu-bar ul li a {
  padding-bottom: 8px;
  font-size: 20px;
  
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
padding-right: 15px;
  transition: all 0.3s;
} */

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  background-color: #50350e;
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin-left: -45px;
  
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding-left: 5px;
  margin-right: -18px;
  padding-top: 0px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.hero {
  height: calc(100vh - 80px);
  background-image: url(./bg.jpg);
  background-position: center;
}
.schemas:hover{
  transform: scale(1);
        transition: transform 0.2s ease;
        left: calc(50% - 2px);
        background-color: #4267B2;
        will-change: transform;
}
.sche a{
  transition: all 0.5s;
  text-align: center;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 14px;
  text-align: center;
}
.sche:hover{

}
/* scheme offer block start */
.poffer{
  display: flex;
  flex-direction: row;
}
.poffer a{
  margin-top: 117px;
  margin-left: 21px;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}
.poffer a:hover{
  color: #4267B2;
}
.product-offer {
  display: inline-flex;
  margin-left: 126px;
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
border: 1px solid #4267B2
;
  box-shadow: 14px 20px 32px rgb(136 127 211 / 25%);  
}

.product-offer img {
  display: flex;
flex-direction: column;
column-gap: 20px;
transform-origin: 50% 65%;
transition: transform 0.8s, filter 3s ease-in-out;
filter: brightness(150%);
object-fit: cover;
height: 100%;
width: 100%;
}

.product-offer:hover img {
transform: scale(1.3);
}

.product-offer .offer-text {
position: absolute;
display: flex;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#20434fcc;
font-size: 10px;
flex-direction: column;
align-items: center;
justify-content: center;
z-index: 1;
}

.cat-item {
background: #FFFFFF;
transition: .5s;
}

.cat-item:hover {
background: #FFD333;
}

.cat-item img {
border-radius: 20px;
}

.cat-item:hover img {
transform: scale(1.5);
filter: brightness(100%);
}
/* scheme offer block end */

/* vision of gov - start */
.visi{
  display: inline-flex;
  flex-direction: row;
  height: 377px;
}

.vision{
  margin-left: 275px;
  margin-top: 62px;
  font-family:'Merriweather', serif;
}
/* vision of gov - end */

/* <!-- what's on going - start -->*/
.ongoing{
  height: 361px;
  width: 100%;
}
.gnagar{
  height: 400px;
  width: 400px;
  margin-top: -36px;
  margin-left: 141px;
}

/*<!-- what's on going -end --> */

/* footer - start */
.footer{
  display: inline-flex;
  flex-direction: row;
  height: 323px;
  width: 100%;
  background-color: #6f9cf9ba;
}
.footerlogo{
  
  margin-left: 168px;
  height: 123px;
  width: 209px;
}
.footermenu a{
  text-decoration: none;
  color: #00276f;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
}
.footermenu a:hover{
  color: #889fca;
}
.cwcommi{
  margin-left: 55px;
  margin-top: 36px;
  font-size: 23px;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
}
/* footer - end */

/* resposiveness */
@media (max-width: 1200px) 